.header-container {
    height: 120px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.header-title {
    line-height: 120px;
    text-align: center;
    vertical-align: center;
}
.header-navigation {
    line-height: 120px;
    text-align: center;
    vertical-align: center;
}
.example {
    margin: 0px 5px;
}